:root {
    --header-size: 60px
}

.header {
    display: flex;
    justify-content: space-between;
    line-height: var(--header-size);
    height: var(--header-size);
    background-color: gray;

    h1 {
        text-indent: 1.5rem;
    }
}

.navigation {
    ul {
        display: flex;

        li {
            padding: 0 25px;

            a {
                font-size: 1.3rem;
            }
        }
    }
}